# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

.DS_Store
.svn
*.swp
*~.nib
  
build/
product/
.adhoc/
  
*.pbxuser
*.perspective
*.perspectivev3
  
*.mode1v3
*.mode2v3
  
xcuserdata/
